@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

$primaryColor: black;
$secondaryColor: rgb(0, 0, 194);
$accentColor: rgb(88, 88, 88);
$shadowColor: white;

$titleFont: 'Bebas Neue';
$bodyFont: 'Roboto';